.references {
    height: 50vh;
    overflow: auto;
 }

.row-fluid .viewer {
    height: 90vh;
    height: -webkit-calc(100% - 62px);
    height: calc(100% - 62px);
}

.filetree {
    list-style-type: none;
    height: 100%;
    overflow: auto;
    margin-right: 10px;
}

.filetree li {
    padding: 6px 20px;
    border: 1px solid gray;
}

.filetree li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.filetree li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.CodeMirror-scroll {
    height: 100%;
}