.fixed-ontop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.references {
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
 }

.fluid-container {
    padding-left: 6px;
}

.row-fluid .accordion {
    /*height: 90vh;
    height: -webkit-calc(100% - 82px);*/
    margin-bottom: 0; /* override bs */
}

.row-fluid .accordion .accordion-inner {
    padding: 0;
}

.row-fluid .accordion .accordion-group {
    overflow-x: auto;
    max-height: 44vh;
    height: -webkit-calc((100% - 82px)/2);
}

.row-fluid .viewer {
    height: 90vh;
    height: -webkit-calc(100% - 82px);
}

.tree {
    list-style-type: none;
    /*height: 100%;*/
    /*overflow: auto;*/
    padding-right: 10px;
}

.tree li {
    cursor: hand;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tree li:hover {
    text-decoration: underline;
    text-overflow: inherit;
}

.tree li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 6px;
}

.tree li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.CodeMirror-scroll {
    height: 100%;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    background: rgba(231, 75, 175, 0.46);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 4px;
    background: rgba(231, 75, 175, 0.46);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.4);
}
